@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
:root {
  --primary-color: #ff5487;
}

html,
body {
  width: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: Poppins;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar {
  background: white;
  padding: 1em;
}

.navbar .logo-it {
  width: 3rem;
}

.navbar nav {
  display: none;
}

.navbar .container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: space-between;
}

.navbar .mobile-menu {
  cursor: pointer;
  float: right;
}

section {
  padding: 5em 2em;
}

.hero {
  text-align: center;
}

.left-col .subhead {
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  color: gray;
  letter-spacing: 0.3em;
}

.left-col h1 {
  text-align: left;
  font-size: 2.5em;
  line-height: 1.3em;
  margin-top: -0.8em;
  margin-bottom: -0.1em;
}

.left-col p {
  text-align: left;
  font-size: small;
  margin-bottom: 2rem;
}

.left-col .primary-cta {
  color: var(--primary-color);
  border: 3px solid var(--primary-color);
  text-decoration: none;
  font-size: small;
  padding: 0.6em 1.3em;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  border-radius: 3em;
  margin-top: -0.2em;
  text-transform: uppercase;
}

.left-col .primary-cta:hover {
  background: var(--primary-color);
  color: white;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 66%;
  right: 0;
  top: 0;
  background: var(--primary-color);
  height: 100vh;
  padding: 1em;
}

nav ul.primary-nav {
  margin-top: 5em;
}

nav li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 0.5em;
  font-size: 1.3em;
  text-align: right;
}

nav li a:hover {
  font-weight: bold;
}

.it {
  width: 15em;
  border-radius: 50%;
}

.items {
  -ms-flex-line-pack: center;
  align-content: center;
}

.mobile-menu-exit {
  float: right;
  margin: 0.5em;
  cursor: pointer;
}

.projects {
  background-color: grey;
}

a {
  text-decoration: none;
}

.container2 {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 250px;
  height: 450px;
  background-color: var(--primary-color);
  border-radius: 12px;
  -webkit-box-shadow: 2px 10px 12px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 10px 12px rgba(0, 0, 0, 0.5);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 20px 10px;
}

.iconsProject {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  margin-left: 8em;
  margin-bottom: 1em;
  margin-top: 1em;
}

.iconsProject .github {
  width: 25px;
  padding: 0.1em;
  padding-right: 1em;
  margin-top: -3em;
}

.iconsProject .share {
  width: 25px;
  padding: 0.1em;
  margin-top: -3em;
}

.model {
  height: 20px;
}

.tech {
  border: 1px solid white;
  background-color: white;
  color: var(--primary-color);
  text-decoration: none;
  font-size: xxsmall;
  padding: 0.5em 1.3em;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  border-radius: em;
  margin-top: -0.2em;
  font-weight: bold;
}

.model {
  position: relative;
  text-align: center;
  height: 250px;
  max-height: 100%;
  max-width: 100%;
  opacity: 0.5;
  margin-top: -1.5em;
}

#model2 {
  position: relative;
  text-align: center;
  height: 140px;
  max-width: 100%;
  opacity: 0.5;
  margin-top: -1.5em;
}

#model3 {
  position: relative;
  text-align: center;
  height: 140px;
  max-width: 100%;
  opacity: 0.5;
  margin-top: -1.5em;
}

.details {
  margin-top: -2em;
  font-family: "Poppins";
  font-size: x-small;
  color: white;
  text-align: center;
  padding: 1em;
}

.marvel {
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: "Poppins";
  font-size: 20px;
}

.logo {
  width: 1em;
}

.box:hover {
  background-color: #ff78a3;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.box:hover .marvel {
  color: white;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

.footer-info {
  height: 20%;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: white;
  color: black;
  text-align: center;
  font-size: xx-small;
}

.iconsSocial {
  margin-top: 2em;
  width: 10%;
}

/*--responsive-----------------------------------------------------------------------------*/
@media only screen and (min-width: 768px) {
  .mobile-menu,
  .mobile-menu-exit {
    display: none;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
    grid-template-columns: 180px auto;
    -webkit-box-pack: unset;
    -ms-flex-pack: unset;
    justify-content: unset;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: none;
    position: unset;
    height: auto;
    width: 100%;
    padding-top: 1em;
    padding-left: 1em;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav a {
    color: black;
    font-size: 1em;
    padding: 0.1em 1em;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
  }
  .navbar nav li.current a {
    font-weight: bold;
  }
  .navbar nav li.go-premium-cta a {
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    font-weight: bold;
    border-radius: 5em;
    margin-top: -0.2em;
  }
  .navbar nav li.go-premium-cta a:hover {
    background: var(--primary-color);
    color: white;
  }
  .footer-info {
    height: 20%;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
    font-size: xx-small;
  }
  .iconsSocial {
    margin-top: 2em;
    width: 4em;
  }
  .hero-cta {
    display: none;
  }
  .container2 {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

@media only screen and (min-width: 1024) and (min-width: 1200px) {
  .container {
    width: 1080px;
    margin: 0 auto;
  }
  section {
    padding: 10em 4em;
  }
  .hero .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: left;
  }
  .hero .container .left-col {
    margin: 3em 3em 0 5em;
  }
  .hero .container .left-col h1 {
    font-size: 3em;
    width: 90%;
  }
  .container2 {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .hero-cta {
    display: none;
  }
  ul.features-list {
    display: block;
    margin-left: 5em;
  }
  ul.features-list li {
    font-size: 1.4em;
  }
  ul.features-list li:before {
    width: 30px;
    height: 30px;
  }
  .mobile-menu,
  .mobile-menu-exit {
    display: none;
  }
  .navbar .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 180px auto;
    grid-template-columns: 180px auto;
    -webkit-box-pack: unset;
    -ms-flex-pack: unset;
    justify-content: unset;
  }
  .navbar nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: center;
    height: auto;
    width: 100%;
    padding: 0;
  }
  .navbar nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navbar nav a {
    color: black;
    font-size: 1em;
    padding: 0.1em 1em;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
  }
  .navbar nav li.current a {
    font-weight: bold;
  }
  .navbar nav li.go-premium-cta a {
    color: var(--primary-color);
    border: 3px solid var(--primary-color);
    font-weight: bold;
    border-radius: 5em;
    margin-top: -0.2em;
  }
  .navbar nav li.go-premium-cta a:hover {
    background: var(--primary-color);
    color: white;
  }
  .footer-info {
    height: 20%;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
    font-size: small;
  }
  .iconsSocial {
    margin-top: 2em;
    width: 4em;
  }
}

.connect {
  max-width: 500px;
  margin: auto;
  -ms-flex-line-pack: center;
  align-content: center;
}

.skills {
  display: fex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.skills .skill {
  font-size: 10px;
  border: 1px solid white;
  background-color: var(--primary-color);
  color: white;
  border-radius: 3em;
  text-decoration: none;
  font-size: xxsmall;
  padding: 0.5em 1.3em;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  border-radius: em;
  margin-top: -0.2em;
  font-weight: bold;
}

container {
  width: 100%;
  margin: 0 auto;
}

h2 {
  display: block;
  letter-spacing: 1.5px;
  font-size: 1.7em;
  font-weight: bold;
  color: var(--primary-color);
  -ms-flex-line-pack: center;
  align-content: center;
  margin: 0;
}

.formholder {
  -ms-flex-line-pack: center;
  align-content: center;
  border-radius: 3px;
  margin: 10px auto;
  padding: 0px;
}

.formholder li {
  list-style-type: none;
}

.formholder label {
  color: #666;
  width: 100%;
  display: inline-block;
  text-align: left;
  padding: 2px;
}

#name,
#email {
  width: 200px;
  height: 30px;
  margin-left: 0;
  padding-left: 5px;
  border: 1px solid grey;
  border-radius: 3px;
}

#message {
  width: 200px;
  height: 90px;
}

#button {
  color: var(--primary-color);
  border: 3px solid var(--primary-color);
  font-weight: bold;
  border-radius: 5em;
  margin-top: -0.2em;
}
